{% extends "base" %}

{% block bodyblock %}
	{% include "_modules/header.twig" %}

	<div class="panel">

		{% if entry.title|length %}
			<h2>{{ entry.title }}</h2>
		{% endif %}

		{% if entry.textBlock|length %}
			<p>{{ entry.textBlock }}</p>
		{% endif %}


		{% if entry.gallerieStruktur|length %}
			{% for tag in entry.gallerieStruktur %}

				<div>

					{% if tag.datum|length %}
						<h3>{{ tag.datum|date("d.m.Y") }}</h3>
					{% endif %}

					{% if tag.imageGallery|length %}
						<div class="image-container">
							{% for image in tag.imageGallery.all() %}
								<img src="{{ image.getUrl() }}" alt="{{ image.altText }}">
							{% endfor %}
						</div>
					{% endif %}

				</div>

			{% endfor %}
			
		{% else %}
			<p>Keine Inhalte vorhanden.</p>
		{% endif %}
	</div>


{% endblock %}

{% block scriptblock %}{% endblock %}
